
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* common style or Utilities */

body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color:#FFFFFF;
    width: 870px;
    padding: 30px 30px 30px ;
}

.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}

/* Top Players Style */

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    grid-row-gap: 30px;
    
}

.player{
    display: flex;
    align-items: center;
}

.player img{
    width: 56px;
    height: 56px;
    
}

.player-name{
    margin-left: 16px;
    font-size: 18px;
}

hr{
    border: 1px solid #D1D1D1;
    
    margin-bottom: 27px;
}

.top-players{
    margin-bottom: 30px;
}


/* Top Blogs Styles */

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}


.blog{
    display: flex;
}


.blog .thumbnail img{

    width: 177px;
    height: 117px;
}

.blog-info{
    margin-left: 16px;
}

.blog-title{
    font-size: 20px;
    
}


.blog-author{
    color: #9F9F9F;
    
    font-size: 16px;
}

.author-name{
    text-decoration: none;
    color:#562EFF;
}

/* Courses style */

.course-banner img{
    Width :224px;
    Height:104px;
    padding-left: 20px;
    padding-top: 10px;
}
.course-author a{
    text-decoration: none;
    color: #ED6B4F;
    
}

.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}

.fa-star.filled{
    color: #FFC014;
}

.fa-star.Empty{
    color: #AEAEAE;
}
.course-duration{
    background-color: #FFE4E8;
    color: #FF4A60;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    

}
.course{
    border: 1px solid white;
    align-items: center;
    
    border-radius: 3%;
    padding: 5px;
    box-shadow:  0px 10px  20px 10px rgb(243, 237, 237);
}





